<h3>Greetings, human!</h3>
<p> Yoyr goods are shipped! Behold and await!</p>
<table>
  <tr>
    <th>Quantity</th>
    <th>Description</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
      <%=sprintf("%2d x %s", line_item.quantity, truncate(line_item.product.title, length: 50))%>
  <% end %>
</table>